<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'&gt;>
        <style>body {padding-top: 80px;}</style>
        <title>Twitter</title>
    </head>

    <body>
        <nav class='navbar navbar-expand-md navbar-light fixed-top bg-primary'>
            <a class='navbar-brand' >Twitter</a>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>